.window {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.timer {
  background-color: #f1e8c055;
  border: 5px solid #00ffcc;
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-basis: 400px;
  flex-direction: column;
  min-height: 250px;
  justify-content: space-around;
}

.set {
  display: flex;
  justify-content: space-around;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.time {
  font-size: 75px;
  display: flex;
  justify-content: center;
}

.cat {
    font-size: 75px;
    display: none;
    justify-content: center;
}

button {
  border-radius: 7px;
  outline: none;
}

.start {
  background-color: rgb(68, 199, 68);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.pause {
  background-color: rgb(197, 174, 43);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.stop {

  background-color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

img {
  border-radius: 7px;
  width: 100px;
  height: 100px;
}

.imgcontainer {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.spinnercontainer {
  display: flex;
  justify-content: center;
}

.lds-spinner {
  color: official;
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #00ffcc;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
